<mat-card [ngClass]="{ 'text-center p-3': !fullWidthMode }">
  <div [ngClass]="{ 'flex p-5': fullWidthMode }">
    <img
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://placehold.co/400/orange/white"
      class="mb-1 mx-auto h-[200px]"
      alt=""
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>shoes</h5>
        <p class="truncate xhover:whitespace-normal">Snickers</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>

      <div class="flex justify-between">
        <span class="text-red-500">{{ "150" | currency }}</span>

        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500"> shopping_cart </mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
